body{
    
}
.superior{
    height: 18em;
    width: 22em;
    background-color: #c3beba;
    border-top-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
}
.inferior{
    height: 18em;
    width: 22em;
    background-color: #c3beba;
    border-bottom-right-radius: 4em;
    border-bottom-left-radius: 0.4em;
    
}
