*{
    font-family: Arial, Helvetica, sans-serif;
}
/*Contenedor general centrado en pantalla*/
.general{
    height: 40em;
    display:flex;
    justify-content: center;
    align-items: center;
}
/*Parte superior de la consola (pantalla y lineas superiores)*/
.superior{
    height: 17em;
    width: 22em;
    background-color: #ede4db;
    border-top-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
    display: flex;
    flex-direction: column;
}
/*Area Pantalla*/
.pantalla{
    height: 15em;
    width: 22em;
    display:flex;
    justify-content: center;
}
.interiorPantalla{
    height: 15em;
    width: 18em;
    background-color:#6d6769;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 2.5em
}
/*Divido el interior de la pantalla en 3 filas*/
.divisionPantalla1{
    height:1.5em ;
    display:flex;
    justify-content: center;
    justify-items: center;
}
.lineas{
    height: 1em ;
    width: 16em;
    margin-top: 0.2em;
}
/*Divido la fila central donde va el LCD en 3 columnas*/
.divisionPantalla2{
    height:11.5em ;
    display:flex;
}
/*Divido el espacio de la izquierda en 3 filas*/
.lcdIzq{
    width:3.5em ;
    display: flex;
    flex-direction: column;
}
.led{
    height: 11.5em;
    padding-left: 0.5em;
}
.ledBateria{
    width: 2.5em;
}
.lcd{
    width:11em ;
    background-color:#283b3f;
}
.lcdDerecha{
    width:3em ;
}

.divisionPantalla3{
    height:1.5em ;
}
/*Parte superior consola con las lineas y boton de encendido*/
.pantalla1{
    height: 1em;
    border: ;
    display: flex;
    flex-direction: row;
}
.columnaPantalla1{
    width: 2em;
    border-right: 0.2em  gray solid
}
.columnaPantalla2{
    width: 18em;
    background-color: #ede4db;
    display: flex;
}
.encendido{
    width: 3em;
    height: 0.7em;
    background-color: #c8c1ba;
    border-radius: 0.5em;
    margin-top: 0.1em;
    margin-left: 0.4em;
}
.columnaPantalla3{
    width: 2em;
    border-left: 0.2em  gray solid
}
/*Espacio entre pantalla y linea superior*/
.pantalla2{
    height: 1em;
    border-top: 0.2em gray solid
}
.inferior{
    height: 18em;
    width: 22em;
    background-color: #ede4db;
    border-bottom-right-radius: 4em;
    border-bottom-left-radius: 0.4em;
    display: flex;
    flex-direction: column;
}
/*Divido zona inferior en 3 filas*/
.zonaBotones1{
    height: 2em;
    display:flex;
    flex-direction: row;
}
.logoNintendo1{
    width: 2em;
}
.logoNintendo2{
    width: 18em;
}
.fotoLogo{
    width: 12em;
}
.zonaBotones2{
    height: 9em;
    border: 1px solid;
    display:flex;
}
.controles1{
    width: 2em;
    border: px solid;
}
.controles2{
    width: 18em;
    border: 1px solid;
    display:flex;
}
.botones1{
    width: 6em;
    border: px solid;
    display: flex;
    flex-direction: column;
}
.direccion1{
    height: 2em;
    border: px solid;
}
.direccion2{
    height: 6em;
    border: px solid;
}
.botonDireccion{
    height: 6em;
    background-color:;
    display: flex;
}
.cruz1{
    width: 2em;
    display: flex;
    flex-direction: column;
}
.botonIzq1{
    height: 2em;
}
/*BOTON IZQUIERDA*/
.botonIzq2{
    height: 2em;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    background-color: black;
}
/*BOTONES ARRIBA Y ABAJO*/
.cruz2{
    border-radius: 0.3em;
    width: 2em;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.circuloCruz1{
    height: 2em;
 
}
.circuloCruz2{
    height: 2em;
    border-radius: 1em;
    background: linear-gradient(to bottom right, black, gray)
}
.cruz3{
    width: 2em;
}
.botonDer1{
    height: 2em;
}
/*BOTON DERECHA*/
.botonDer2{
    height: 2em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    background-color: black;
}
.botones2{
    width: 5em;
    border: 1px solid;
}
.botones3{
    width: 7em;
    border: px solid;
    display: flex;
}    
.zonaBotonA{
    width: 3.5em;
    display: flex;
    flex-direction: column;
}
.boton1{
    height: 3.5em;
    background-color:;
}
.boton2{
    height:3em;
    width: 3em;
    background-color: #8d2f4a;
    margin-top: 0.5em;
    margin-left: 0.3em;
    border-radius: 3em;
    background: linear-gradient(to bottom right, #8d2f4a, #a8586f)
}
.botonB{
    width: 3.5em;
    display: flex;
    flex-direction: column;
}
.boton1{
    height: 3.5em;
    background-color:;
}
.boton3{
    height:3em;
    width: 3em;
    background-color: #8d2f4a;
    margin-top: 1.7em;
    border-radius: 3em;
    background: linear-gradient(to bottom right, #8d2f4a, #a8586f)


}
.zonaBotones4{
    height: 7em;
    border: 1px solid hotpink;
}